{% extends 'base.html' %}

{% block content %}

    <h2>Orders</h2>
    <div class="card-body">
        <div class = "table-resposive" >
    <table class="table" id="kt_datatable" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Order</th>
                <th>Items</th>
                <th>Quantity</th>
                <th>Details</th>
                <th>Payment</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Ordering Date</th>
                <th>Delivery Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.order_name | truncatechars:10}}</td>
                <td>{{ order.order_items }}</td>
                <td>{{ order.order_qty }}</td>
                <td>{{ order.order_details | truncatechars:15}}</td>
                <td>{{ order.payment_status }}</td>
                <td>{{ order.customer_details }}</td>
                <td>{{ order.order_total_price }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.delivery_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}